h1{
  text-align: center;
}
h2{
  text-decoration: underline;
}
p{
  font-size: 15px;
}
body{
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size: cover;
}
.picture{
  background-image: url("../Pictures/background.jpg");
}
