.Schrift
{
  font-family: Helvetica;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px darkblue;
  font-size: 0.94em;
  text-align: center;
}
.Schrift2
{
  text-rendering: geometricPrecision;
  font-family: Helvetica;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px darkblue;}

}
