body{
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size: cover;
}
.picture{
  background-image: url("../Pictures/background.jpg");
}
.centered
{
  position: absolute;
height: 320px;
width: 400px;
margin: -100px 0 0 -200px;
top: 40%;
left: 50%;
}
